.containerFour {
  background-color: rgb(21, 20, 20);
  max-width: 100%;
}
.containerFour__form > .col6 > h2 {
  font-size: 6rem !important;
}
.containerFour__form > .col-6 > p {
  font-size: 2rem !important;
}

.form-control {
  background: rgb(41, 40, 40);
  border-radius: 0;
  border-style: none none solid;
  color: white;
  font-size: 1.5rem;
}
.form-control:focus {
  background: rgb(41, 40, 40);
  color: white;
}

.form-label {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  font-size: 2rem !important;
}

#colResult {
  display: none;
  font-size: 2rem;
  color: white;
}
#colResult > p {
  font-size: 2rem;
}

@media screen and (max-width: 750px) {
  .containerFour {
    padding: none !important;
  }

  .containerFour__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
  }
  .containerFour__form > .contactText > p {
    font-size: 1.25rem !important;
  }

  .btn {
    width: 100% !important;
  }
}
* {
  box-sizing: border-box;
  color: white;
}

html {
  font-size: 10px !important;
}

.px-5 {
  padding-right: 8rem !important;
  padding-left: 8rem !important;
}

body {
  height: 300vh;
  width: 100vw;
  max-width: 100%;
  background-color: rgb(41, 40, 40);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.linkContactMe {
  font-size: 4rem;
}

.topBar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 30px 0 30px;
}
.topBar__name {
  color: white;
  font-size: 2rem;
}

.socialBox {
  display: block;
  max-height: auto;
}

.textContainer {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
}
.textContainer > h1 {
  font-size: 6rem;
  font-weight: bold;
}
.textContainer > h1 > strong {
  font-weight: inherit;
}
.textContainer > * {
  padding: 10px 10px 10px 10px;
}

strong {
  border-bottom: 4px solid rgb(0, 128, 107);
}

.textContainerCircles {
  height: 50px;
  width: 300px;
  border: 1px solid gray;
  border-radius: 50%;
  position: absolute;
  top: 140px;
  left: -50px;
}
.textContainerCircles:nth-child(2) {
  top: 150px;
}
.textContainerCircles:nth-child(3) {
  top: 160px;
}
.textContainerCircles:nth-child(4) {
  top: 170px;
}
.textContainerCircles:nth-child(5) {
  top: 180px;
}

.photoContainer {
  display: flex;
  justify-content: end;
}

.itemPhoto {
  filter: grayscale(100%);
  height: 500px;
  width: 350px;
}

.photoCircle {
  display: flex;
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.651);
  align-self: center;
  right: 385px;
}

@media screen and (max-width: 750px) {
  .textContainerCircles, .photoCircle {
    display: none;
  }

  .itemPhoto {
    height: 250px;
    width: 175px;
  }

  .photoContainer {
    width: 175px !important;
  }

  .textContainer {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .textContainer > h1 {
    font-size: 4.5rem;
  }
}
.rowTwo > * {
  color: white;
}

.rowTwo > .col > h3 {
  font-size: 4rem !important;
  font-weight: 600;
  text-align: center;
}

.rowTwo > .col > p {
  font-size: 2rem;
  text-align: center;
}

.textContainerCirclesRowTwo {
  display: flex;
  height: 50px;
  width: 300px;
  border: 1px solid gray;
  border-radius: 50%;
  position: absolute;
  top: 90%;
  right: -6%;
}
.textContainerCirclesRowTwo:nth-child(2) {
  top: 91%;
}
.textContainerCirclesRowTwo:nth-child(3) {
  top: 92%;
}
.textContainerCirclesRowTwo:nth-child(4) {
  top: 93%;
}
.textContainerCirclesRowTwo:nth-child(5) {
  top: 94%;
}

@media screen and (max-width: 750px) {
  .containerTwo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .textContainerCirclesRowTwo {
    display: none;
  }

  .rowTwo {
    flex-direction: column;
    height: 33% !important;
  }

  .rowTwo > col {
    align-items: center;
  }

  .rowTwo > .col > h3 {
    font-size: 3rem !important;
    font-weight: 600;
  }

  .rowTwo > .col > p {
    font-size: 1.5rem;
  }

  .experienceCols {
    width: 400px;
    margin: 1rem 1rem 1rem 1rem;
    justify-content: center;
  }
  .experienceCols > * {
    text-align: center;
    margin: 0 auto;
  }
}
h2 {
  font-size: 4rem;
  font-weight: bold;
}

a > strong {
  font-size: 2rem;
}
a > strong:hover {
  color: lightgray;
  text-shadow: 3px black;
}

.projectImage {
  background-color: cadetblue;
}

/*# sourceMappingURL=style.css.map */
