
.rowTwo > * {
    color: white;
}

.rowTwo > .col > h3 {
    font-size: 4rem !important;
    font-weight: 600;
    text-align: center;
}

.rowTwo > .col > p {
    font-size: 2rem;
    text-align: center;
}

.textContainerCirclesRowTwo {
    display: flex;
    height: 50px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 50%;
    position: absolute;
    top: 90%;
    right: -6%;

    &:nth-child(2) {
        top: 91%;
    };
    &:nth-child(3) {
        top: 92%;
    };
    &:nth-child(4) {
        top: 93%;
    };
    &:nth-child(5) {
        top: 94%;
    };
}

@media screen and (max-width: 750px) {

    .containerTwo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .textContainerCirclesRowTwo {
        display: none;
    }

    .rowTwo {
        flex-direction: column;
        height: 33% !important;
    }

    .rowTwo > col {
        align-items: center;
    }

    .rowTwo > .col > h3 {
        font-size: 3rem !important;
        font-weight: 600;

    }
    
    .rowTwo > .col > p {
        font-size: 1.5rem;

    }

    .experienceCols {
        width: 400px;
        margin: 1rem 1rem 1rem 1rem;
        justify-content: center;

        & > * {
            text-align: center;
            margin: 0 auto;
        }
    }


}