
.rowTwo > * {
    color: white;
}

.rowTwo > .col > h3 {
    font-size: 4rem !important;
    font-weight: 600;
}

.rowTwo > .col > p {
    font-size: 2rem;
}

.textContainerCirclesRowTwo {
    display: flex;
    height: 50px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 50%;
    position: absolute;
    top: 130%;
    right: -6%;

    flex-wrap: nowrap;
    &:nth-child(2) {
        top: 131%;
    };
    &:nth-child(3) {
        top: 132%;
    };
    &:nth-child(4) {
        top: 133%;
    };
    &:nth-child(5) {
        top: 134%;
    };
}

@media screen and (max-width: 750px) {
    .textContainerCirclesRowTwo {
        display: none;
    }

    .rowTwo {
        flex-direction: column;
        height: 33% !important;
    }

    .rowTwo > .col > h3 {
        font-size: 3.5rem !important;
        font-weight: 600;
    }
    
    .rowTwo > .col > p {
        font-size: 1.5rem;
    }

    .experienceCols {
        width: 400px;
        margin: 1rem 1rem 1rem 1rem;
        justify-content: center;

        &>*{
            text-align: center;
            margin: 0 auto;
        }
    }


}